{% extends "layout.html" %}
{% block title %}
Change Password
{% endblock %}
{% block main %}
<form action="/changepass" method="post">
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="pass" placeholder=" Old Password" type="password">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="newpass1" placeholder="enter new password" type="password">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="newpass2" placeholder=" new password again" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Change</button>
</form>
{% endblock %}